{% extends "layout.html" %}
{% block content %}
<section class="my-5">
    <!--     <h2 class="h1-responsive font-weight-bold text-center my-5">
        Why is it so great?
    </h2>
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">
        Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam.
    </p> -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row mb-5">
                <div class="col-md-12 text-center">
                    <h1>
                        <a class="badge badge-primary" href="/sentiment">
                            Sentiment
                        </a>
                    </h1>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-12 text-center">
                    <h1>
                        <a class="badge badge-primary" href="/emotion">
                            Emotion
                        </a>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        <a class="badge badge-primary" href="/purpose">
                            Purpose
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <form action="/" method="post">
                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-link btn-lg" id="sentiment" name="sentiment">
                            Sentiment
                        </button>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-link btn-lg" id="emotion" name="emotion">
                            Emotion
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-link btn-lg" id="purpose" name="purpose">
                            Purpose
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
</section>
{% endblock content %}
