{% extends "layout.html" %}
{% block content %}
<div class="Container">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="Buttons">
        <a class="Button" href="/sentiment">
            Sentiment
            <span class="Button-mask Button-slides slides-left Graident-one">
            </span>
        </a>
        <br/>
        <br/>
        <a class="Button" href="/emotion">
            Emotion
            <span class="Button-mask Button-slides slides-right Graident-two">
            </span>
        </a>
        <br/>
        <br/>
        <a class="Button" href="/purpose">
            Purpose
            <span class="Button-mask Button-rotates rotates-clockwise Graident-four">
            </span>
        </a>
    </div>
</div>
{% endblock content %}
